<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link href="/css/js.css" rel="stylesheet">
</head>
<body>
<div class="login-body">
  <!-- 로그인화면 시작 -->
  <div class="padding-t-b-100">
    <div class="row d-flex justify-content-center">
      <!-- 로고박스 시작 -->
        <div class="logo-box d-flex align-items-center">
          <div class>
            <!-- 로고 -->
            <div>
              <img src="/img/fs_logo.png" alt="Logo" width="50" height="50">
            </div>
            <!-- 환영글 -->
            <div class="logo-content logo-content-font">
              이곳은 한국 스마트 정보 교육원 47기</br>
              우리 함께 즐겨요!
            </div>
          </div>
        </div>
        <!-- 로그인 박스 시작 -->
        <div class="login-box">
          <form class="row g-3 d-flex justify-content-center" id="login-form">
            <div class="col-auto input-box">
              <label for="inputPassword2" class="visually-hidden">이메일 또는 전화번호</label>
              <input type="password" class="form-control login-input " id="inputPassword1" placeholder="이메일 또는 전화번호">
            </div>
            <div class="col-auto input-box">
              <label for="inputPassword2" class="visually-hidden">비밀번호</label>
              <input type="password" class="form-control login-input" id="inputPassword2" placeholder="비밀번호">
            </div>
            <div class="col-auto btn-box">
              <div class="form-control login-input" id="loginBtn" >로그인</div>
            </div>
            <div class="d-flex justify-content-center">
              <div class="bottom-border"><a href="#">비밀번호를 잊으셨나요?</a></div>
            </div>
            <div class="col-auto btn-box">
              <div class="form-control btn btn-success" id="addBtn" >새 계정 만들기</div>
            </div>
          </form>
        </div>
    </div>
  </div>
  <!-- 로그인화면 종료 -->
  <!-- 푸터 시작 -->
  <div class="footer-box">
    <div class="text-center">문의는 cpzzansu@gmail.com을 통해 해주시면 감사하겠습니다.<br>JS © 2023</div>
  </div>
  <!-- 푸터 종료 -->
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>